/*******************************************
*                 IMPORTS                  *
*******************************************/

@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
/*Main font*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/*Logo font*/

/*H'r under använder jag COLRv1, en relativt ny funktion i css (de flesta browsersarna lade till support för det år 2022, och
vissa program, exempelvis VS Code har ibland svårt att formatera den grejen vilket gör att det ser ut som att koden är felaktig
när den egentligen är fungerande och korekkt angedd. Här finns mer info om COLRv1: https://nabla.typearture.com/whatisCOLRV1.html*/

/*Inställningar (Font palette values) för Nabla font i navbar (gör den svart)*/
@font-palette-values --logotype-navbar {
    font-family: 'Nabla';
    override-colors:
        0 #000000,
        1 #000000,
        2 #000000,
        3 #000000,
        4 #000000,
        5 #000000,
        6 #000000,
        7 #000000,
        8 #000000,
        9 #000000;
}

/*Inställningar (Font palette values) för Nabla font i footer (gör den vit)*/
@font-palette-values --logotype-footer {
    font-family: 'Nabla';
    override-colors:
        0 #FFFFFF,
        1 #FFFFFF,
        2 #FFFFFF,
        3 #FFFFFF,
        4 #FFFFFF,
        5 #FFFFFF,
        6 #FFFFFF,
        7 #FFFFFF,
        8 #FFFFFF,
        9 #FFFFFF;
}

/*******************************************
*          ROOT VARIABLES (COLORS)         *
*******************************************/

:root {
    --yellow: #FFFF00;
    --black: #000000;
    --red: #FF0040;
    --white: #FFFFFF;
    --dark: #292929;
    --dark-gray: #171717;
    --dark-transparent: #00000050;

    --default-font: 'Lexend', Arial, sans-serif;
    --symbol-size-fixed: 25px;
    --distance-between-border-in-nav: 0 0.5vw;

    --nav-height: 50px;
    --footer-height: 50px;
}

/*******************************************
*                  GENERAL                 *
*******************************************/

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--dark);
    color: var(--white);
    font-family: var(--default-font);

    display: flex;
    flex-direction: column;
}

/*******************************************
*                  NAVBAR                  *
*******************************************/

.navbar {
    background-color: var(--yellow);
    height: var(--nav-height);

    display: flex;
    justify-content: space-between;
    /*Centers items horizontally*/
    align-items: center;
    /*Centers items vertically*/

}

/*Navbar logotype properties*/
#logotyp-i-navbar {
    font-family: 'Nabla', serif;
    font-palette: --logotype-navbar;
    /*"Korrekt" angivning av variabel fungerar ej, antagligen pga att det är en väldigt ny css-funtion att ändra fontpaletten*/
    font-size: 24px;
    margin: var(--distance-between-border-in-nav);
}

/*Navbar links*/
.navbar-links {
    display: none;
}

.navbar a {
    color: var(--black);

    margin: 0 7px;
    /*Space between links, should be fixed value*/
}

.navbar a:hover {
    color: var(--red);
}

/*Navbar icons*/
.navbar-ikoner {
    display: flex;
    align-items: center;
    margin: var(--distance-between-border-in-nav);
}

/*Cart & Dropdown Button properties*/
.navbar-ikoner img {
    width: var(--symbol-size-fixed);
}

/*Dropdown Button*/
.navbar-ikoner button {
    background-color: #00000000;
    cursor: pointer;
    border: none;
    transition: ease-in-out 0.1s;

    margin: var(--distance-between-border-in-nav);
}

.navbar-ikoner button:hover {
    transition: ease-in-out 0.1s;
    transform: scale(1.15);
}

/*Dropdown menu (overlapping main)*/
#dropdown {

    background-color: var(--gray);

    width: 100%;
    padding: 2vh 0;
    /*2 vh padding top & bottom for every a-element in the dropdown menu*/
    display: none;
    flex-direction: column;
    justify-self: flex-end;

}

#dropdown.active,
.varukorg-container {
    display: flex;
    /*Makes sure the dropdown shows when clicked*/
}

#dropdown a {
    text-align: center;

    color: var(--white);

    padding-top: 0.5vh;
}

#dropdown a:hover {
    color: var(--red);
}

/*******************************************
*                   MAIN                   *
*******************************************/

/*Varukorg*/

#varukorg-container {
    background-color: var(--dark-gray);
    display: none;
    justify-content: center;
    text-align: center;
}

#varukorg-container.active {
    display: flex;
}

#varukorg-titel,
#köpinfo {
    margin: 1vh 0;
}

#knapp-betala,
#kostnad {
    margin-bottom: 3vh;
}

#varukorg-titel {
    text-align: center;
    font-size: 24px;
}

.köpinfo-container {
    display: flex;
    justify-content: center;
}

#köpinfo {
    border-top: solid 2px var(--yellow);
    color: #b5b5b5;
    width: 80%;
}

#varukorg button {
    margin-left: 1vw;
    padding: 1vh;

    background-color: var(--dark-transparent);
    border: 2px solid var(--yellow);
    color: var(--white);

    font-family: var(--default-font);
    font-size: 14px;

    transition: ease-in-out 0.1s;
}

#varukorg button:hover {
    color: var(--red);
    cursor: pointer;

    transition: ease-in-out 0.1s;
}

#varukorg {
    margin: 0.5vh 0;
}

#knapp-betala {
    font-size: 18px;
    font-weight: bold;
    padding: 1vh 2vw;

    background-color: var(--yellow);
    border: none;
    border-radius: 50vw;
    /*För att göra bordern rundad, för att matcha med sökfältet*/

    cursor: pointer;

    transition: ease-in-out 0.1s;
}

#knapp-betala:hover {
    color: var(--red);
    transition: ease-in-out 0.1s;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    /*Samma värden som innan hovern, men 25% större*/
}

#varukorg-status {
    font-style: italic;
}

#kostnad {
    font-weight: bold;
}

/*Sökfält*/

.sökfält {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3vh;
}

.sökfält-innehåll>input {
    width: 300px;
    outline: none;
    border: none;
    border-radius: 50vw;
    /*För att göra bordern rundad*/

    background-image: url("./images/search.webp");
    background-size: var(--symbol-size-fixed);
    background-position: 10px 10px;
    background-repeat: no-repeat;

    font-size: 14px;
    padding: 12px 0 12px 40px;
}

/*Produkter*/
.produkter-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*Varje kolumn är minst 200px; repeterar så många gånger som de får plats*/
    gap: 20px;
    max-width: 1200px;
    /*Ser till att griden är max 1200 pixlar bred oavsett*/
    margin: auto;
    /*Centrerar alla produkter till mitten av skärmen*/

    text-align: center;
}

/*Utvalda Produkter-fönster*/
.utvalda-produkter {
    grid-column: 1 / -1;
    /*Starta vid kolumn 1 och gå till sista kolumn (där -1 = sista)*/

    margin: 3vh 0;
    height: 40vh;

    background-image: linear-gradient(#00000050, #00000050), url("./images/nvidia_background.webp");
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.utvalda-produkter h2 {
    color: var(--white);
    font-size: 48px;
}

.utvalda-produkter a {
    color: var(--black);
}

.utvalda-produkter a:hover {
    color: var(--red);
}

.utvalda-produkter button {
    position: absolute;
    /*Gör att endast knappen ska flyttas ner, inte headern*/
    margin-top: 25vh;

    font-size: 18px;
    font-weight: bold;
    padding: 1vh 2vw;

    background-color: var(--yellow);
    border: none;
    border-radius: 50vw;
    /*För att göra bordern rundad, för att matcha med sökfältet*/

    cursor: pointer;

    transition: ease-in-out 0.1s;
}

.utvalda-produkter button:hover {
    color: var(--red);
    transition: ease-in-out 0.1s;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    /*Samma värden som innan hovern, men 25% större*/
}

/*Produkter*/
.produkt {
    display: flex;
    flex-direction: column;
    background-color: #00000050;
}

.produkt a {
    color: var(--white);
}

.produkt a:hover {
    color: var(--yellow);
}

.produkt h3 {
    font-size: 14px;
}

.produkt p {
    color: var(--red);
}

.produkt img {
    width: 100%;
}

.produkt-inforuta {
    background-color: var(--dark-transparent);
    padding-bottom: 0.5vh;
}

/*Knappen för "Lägg till i varukorg"*/
.produkt button {
    padding: 1vh;

    background-color: var(--dark-transparent);
    border: solid 2px #00000000;
    /*Sätter border transparent för att ta bort standardkanten på knappen*/
    border-top: solid 2px var(--yellow);
    /*Ändrar toppen av bordern till solid gul, efter att ha "tagit bort" (dolt) standardkanten*/
    color: var(--white);

    font-family: var(--default-font);
    font-size: 14px;

    transition: ease-in-out 0.1s;
}

.produkt button:hover {
    border: 2px solid var(--yellow);
    cursor: pointer;

    transition: ease-in-out 0.1s;
}

/*******************************************
*                  FOOTER                  *
*******************************************/

footer {
    border-top: solid 2px var(--yellow);
    background-color: var(--dark-gray);
    color: var(--white);
    text-align: center;

    padding: 2vh 0;
    margin-top: 2vh;
}

#logotyp-i-footer {
    font-family: 'Nabla', serif;
    font-palette: --logotype-footer;
}

/*******************************************
*              MEDIA QUERIES               *
*******************************************/

/*TABLET*/
@media (min-width: 768px) {

    .navbar-ikoner img {
        width: 35px;
    }

    .produkter-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #varukorg button {
        font-size: 20px;
    }

    #dropdown, #varukorg-container, .produkt button, .produkt p, .produkt h3, .sökfält-innehåll>input, #kostnad, #knapp-betala, .utvalda-produkter button{
        font-size: 24px;
    }

    .sökfält-innehåll>input {
        width: 400px;
    }

}

/*DESKTOP*/
@media (min-width: 1025px) {

    .produkter-container {
        grid-template-columns: repeat(5, 1fr);
    }

    /*HIDE AND SEEK*/
    #dropdown-button,
    .dropdown {
        visibility: hidden;
    }

    .navbar-links {
        display: flex;
    }

    /*NAVBAR*/
    .navbar {
        justify-content: center;
        /*Centers every element in navbar horizontally*/
    }

    .navbar-ikoner img {
        width: var(--symbol-size-fixed);
    }

    /*MAIN*/

    #varukorg button, #dropdown, #varukorg-container, .produkt button, .produkt p, .produkt h3, .sökfält-innehåll>input, #kostnad, #knapp-betala, .utvalda-produkter button{
        font-size: 14px;
    }

    .sökfält-innehåll>input {
        width: 300px;
    }
}